* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000000;
}



.container {
    display: flex;
    flex-wrap: wrap; /* Los elementos se envuelven en varias líneas si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    gap: 10px; /* Espacio entre los elementos */
    text-align: center;
    width: 100%;
}

.description {
    flex: 1 1 35%; /* Los elementos ocuparán el 50% del ancho menos el espacio entre ellos */
    padding: 8px;
    border-radius: 25px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    height: min-content;
    margin: 0 auto;
    min-width: 150px;
}

.description:hover, .description:focus, .description:active {
    box-shadow: 0 0 35px rgba(255, 2, 2, 0.911);
  }
  
.description img {
    margin: auto;
    max-width: 100%; /* Asegura que la imagen nunca exceda el tamaño del contenedor */
    height: auto;
    display: block;
    border-radius: 15px;
}


.description .description-text {
    color: #fff;
    display: none; /* Oculta el párrafo por defecto */
    transition: 5s ease; /* Suaviza la transición de visibilidad */
}

.description:hover .description-text {
    max-width: auto;
    display: block; /* Muestra el párrafo al hacer hover */
    transition: 5s ease;
    opacity: 1; /* Asegura que el párrafo sea completamente visible */
}



section{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: auto;
    max-width: 900px;
    height: 430px;
    margin-left: auto;
    margin-right: auto
  }
section:hover {
    box-shadow: 0 0 35px rgba(255, 2, 2, 0.911);
}
  
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
  }
  
  

.social-media-section {
    background-color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.social-media-icons img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 0 6px; /* Añade espacio horizontal entre los enlaces */
    display: inline-block; /* Asegura que los enlaces se comporten correctamente */
}

.copy {
    background-color: #a1a1a1;
    text-align: center;
    padding: 5px;
}

#qrcode {
    padding: 15px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si el contenedor tiene altura) */
    margin: 0 auto;          /* Centra el elemento si no quieres usar Flexbox */
    width: 168px;            /* Ancho del div (ajustado al tamaño del QR) */
    height: 168px;           /* Altura del div (ajustado al tamaño del QR) */
    background-color: #a1a1a1;
    padding: 10px;
    border-radius: 20px;
}

h2, h3{
    text-align: center;
    color: #fff
}


@import url('https://fonts.cdnfonts.com/css/new-gothic-style');

                
.logo {
    text-align: center;
    font-family: 'CantaraGotica', sans-serif;
    font-size: 50px; 
    background: #f30101; 
    background-clip: text; 
    color: #a1a1a1;
    text-shadow: 5px 2px 5px rgb(255, 0, 0); /* Sombra negra suave */
}

