* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html {
    height: 100vh;
    background-color: #000000;
}

body {
    margin: 0;
    height: 100%;
    
}

header, footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 35px; 
    width: 80%; 
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%; 
    position: relative;
    overflow: hidden;
    transition: all .5s;
    min-width: 250px; 
    border-radius: 15px;
}

.container:hover {
    box-shadow: 0 0 35px rgba(255, 2, 2, 0.911);
    background: radial-gradient(#797979, #000000);
}

.container img {
    width: auto;
    height: auto;
    border-radius: 15px;
    transition: all .5s;
}

.container .info {
    color: #dadada;
    transition: top 0.5s ease;
    display: none;
}

.container:hover .info {
    display: contents;
    text-align: center;
}

p, h3 {
    text-align: center;
}

section{
    padding: 20px;
    background: radial-gradient(#797979, #000000);
    border-radius: 20px;
    display: flex;
    width: auto;
    max-width: 900px;
    height: 430px;
    margin-left: auto;
    margin-right: auto
  }

section:hover {
    box-shadow: 0 0 35px rgba(255, 2, 2, 0.911);
    
}
  
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
  }
  
  

.social-media-section {
    background: radial-gradient(#797979, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 100vw;
    
}
.social-media-icons img {
    width: 50px;
    height: 50px;
    display: inline-block; 
}

.copy {
    width: 100vw;
    background: radial-gradient(#797979, #000000);
    text-align: center;
    margin: 0, auto;
}



#qrcode { 
    width: 168px;            
    height: 168px; 
    background-color: #dadada;
    padding: 2px;
    margin: auto;
}

#qrcode:hover {
    box-shadow: 0 0 35px rgba(255, 2, 2, 0.911);
}

h2{
    font-size: 18px;
    text-align: center;
    color: #797979;
}

.select-container {
    background: radial-gradient(#797979, #000000);
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2px;
}
.select-container label {
    color: #000000;
}
#categorySelect {
    background-color: transparent;
    padding: 0.5vw;
    font-size: 16px; 
    border-color: transparent;
    cursor: pointer; 
    transition: all 0.3s ease; 
    appearance: none; 
}
#categorySelect:hover {
    margin: 2px;
}
#categorySelect:focus {
    outline: none; 
    border-radius: 8px;
    margin: 2px;
    background-color: transparent;
}

#categorySelect option:checked {
    background-color: transparent
}
